[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "beautifulsoup4>=4.13.4",
    "chardet>=5.2.0",
    "flask>=3.1.1",
    "requests>=2.32.4",
    "urllib3>=2.5.0",
]
